{% extends "_base_form.html" %}
{% load form_tags %}

{% block form_fields %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger py-2 small" role="alert">{{ error }}</div>
    {% endfor %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    <div class="form-grid">
        {% for field in form.visible_fields %}
            {% render_field field %}
        {% endfor %}
    </div>
{% endblock %}

{% block form_meta %}{% include "crud/_audit_meta.html" %}{% endblock %}
